*{
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
}


.banner{
    width: 100%;
    height: 100vh;
    
    background-size: cover;
    background-position: center;
}


.navbar{
    width: 100%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(106, 197, 250);;
    box-shadow: 5px 0px 10px rgb(97, 96, 96);
    font-family:'Times New Roman', Times, serif; 
    height: 1.4cm; 

}

.logo{
    width: 186px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 10px;
    float: left
  }

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size:120%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    border-radius: 3px;
    width: 0;
    background:rgb(255, 255, 255);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.07s;

}

.navbar ul li:hover::after{
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arvo', serif;
  }

  
  body{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)),url(/static/images/background.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: left;
  }

  .cross_off
  {
      text-decoration: line-through;
  }