{% load static %}

<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/css/logincss.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">

    <title>Class 9</title>
  </head>
  <body>

  <div class="banner">
            <div class="navbar">
                <img src="/static/images/logo.png" class="logo">
                <ul>
                <li><a href="{% url 'homepage' %}" style="color:white"><b>HOME</b></a></li>              
                <li><a href="{% url 'pdfs' %}" style="color:white"><b>STUDY MATERIAL</b></a></li>
                <li><a href="{% url 'logout' %}" style="color:white"><b>LOGOUT</b></a></li>
                </ul>
            </div>

    <div class="container">
      <div class="row my-3 mt-4">
        <div class="col-sm-9 offset-sm-2">
          <h3 align="center">Welcome {{request.user.username|capfirst}}</h3>
          <h3 align="center">STUDY MATERIAL FOR CLASS 9</h3>
          <br />
        <br>

    <center>
    <table class="table table-hover table-light mb-5">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Mathematics</th>
      <th scope="col">Science</th>
      <th scope="col">Social Science</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a href="https://byjus.com/ncert-solutions-class-9-maths/chapter-1-number-systems/">Number System</a></td>
      <td><a href="https://byjus.com/cbse-notes/cbse-class-9-science-notes-chapter-1-matter-in-our-surroundings/">Matter In Our Surroundings</a></td>
      <td><a href="https://byjus.com/ncert-books-class-9-social-science/">What is Democracy?Why Democracy</a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a href="https://byjus.com/ncert-solutions-class-9-maths/chapter-2-polynomial/">Polynomials</a></td>
      <td><a href="https://byjus.com/cbse-notes/cbse-class-9-science-notes-chapter-2-is-matter-around-us-pure/">Is Matter Around Us Pure</a></td>
      <td><a href="https://byjus.com/ncert-books-class-9-social-science/">Constitutional Design</a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><a href="https://byjus.com/ncert-solutions-class-9-maths/chapter-3-coordinate-geometry/">Co-ordinate Geometry</a></td>
      <td><a href="https://byjus.com/cbse-notes/cbse-class-9-science-notes-chapter-15-improvement-in-food-resources/">Improvement In Food Resources</a></td>
      <td><a href="https://byjus.com/ncert-books-class-9-social-science/">Electoral Politics</a></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td><a href="https://byjus.com/ncert-solutions-class-9-maths/chapter-4-linear-equation-in-two-variables/">Linear Equations in two variables</a></td>
      <td><a href="https://byjus.com/cbse-notes/cbse-class-9-science-notes-chapter-3-atoms-and-molecules/">Atoms And Molecules</a></td>
      <td><a href="https://byjus.com/ncert-books-class-9-social-science/">Working of Constitution</a></td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td><a href="https://byjus.com/ncert-solutions-class-9-maths/chapter-5-introduction-to-euclids-geometry/">Introduction to Euclid's Geometry</a></td>
      <td><a href="https://byjus.com/cbse-notes/cbse-class-9-science-notes-chapter-6-tissues/">Tissues</a></td>
      <td><a href="https://byjus.com/ncert-books-class-9-social-science/">Democractic rights</a></td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td><a href="https://byjus.com/ncert-solutions-class-9-maths/chapter-6-lines-and-angles/">Lines and Angles</a></td>
      <td><a href="https://byjus.com/cbse-notes/cbse-class-9-science-notes-chapter-7-diversity-in-living-organisms/">Diversity in Living Organisms</a></td>
      <td><a href="https://byjus.com/ncert-books-class-9-social-science/">India size and Location</a></td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td><a href="https://byjus.com/ncert-solutions-class-9-maths/chapter-7-geometry-of-triangles/">Triangles</a></td>
      <td><a href="https://byjus.com/cbse-notes/cbse-class-9-science-notes-chapter-8-motion/">Motion</a></td>
      <td><a href="https://byjus.com/ncert-books-class-9-social-science/">Physical Features of India</a></td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td><a href="https://byjus.com/ncert-solutions-class-9-maths/chapter-8-quadrilaterals/">Quadrilaterals</a></td>
      <td><a href="https://byjus.com/cbse-notes/cbse-class-9-science-notes-chapter-9-force-and-laws-of-motion/">Force And Laws Of Motion</a></td>
      <td><a href="https://byjus.com/ncert-books-class-9-social-science/">Drinages</a></td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td><a href="https://byjus.com/ncert-solutions-class-9-maths/chapter-9-areas-of-parallelograms-and-triangle/">Areas of Parallelograms</a></td>
      <td><a href="https://byjus.com/cbse-notes/cbse-class-9-science-notes-chapter-10-gravitation/">Gravitation</a></td>
      <td><a href="https://byjus.com/ncert-books-class-9-social-science/">Climate</a></td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td><a href="https://byjus.com/ncert-solutions-class-9-maths/chapter-10-circles/">Circles</a></td>
      <td><a href="https://byjus.com/cbse-notes/cbse-class-9-science-notes-chapter-15-improvement-in-food-resources/">Improvement In Food Resources</a></td>
      <td><a href="https://byjus.com/ncert-books-class-9-social-science/">Natural vegetation and Wildlife</a></td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td><a href="https://byjus.com/ncert-solutions-class-9-maths/chapter-11-construction/">Constructions</a></td>
      <td><a href="https://byjus.com/cbse-notes/cbse-class-9-science-notes-chapter-11-work-and-energy/">Work And Energy</a></td>
      <td><a href="https://byjus.com/ncert-books-class-9-social-science/">Population</a></td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td><a href="https://byjus.com/ncert-solutions-class-9-maths/chapter-12-herons-formula/">Heron's Formula</a></td>
      <td><a href="https://byjus.com/cbse-notes/cbse-class-9-science-notes-chapter-12-sound/">Sound</a></td>
      <td><a href="https://byjus.com/ncert-books-class-9-social-science/">The story of village palamur</a></td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td><a href="https://byjus.com/ncert-solutions-class-9-maths/chapter-13-surface-area-and-volume/">Surface Areas and Volumes</a></td>
      <td><a href="https://byjus.com/cbse-notes/cbse-class-9-science-notes-chapter-11-work-and-energy/">Why Do We Fall Ill</a></td>
      <td><a href="https://byjus.com/ncert-books-class-9-social-science/">People as resource</a></td>
    </tr>
    <tr>
      <th scope="row">14</th>
      <td><a href="https://byjus.com/ncert-solutions-class-9-maths/chapter-14-statistics/">Statitics</a></td>
      <td><a href="https://byjus.com/cbse-notes/cbse-class-9-science-notes-chapter-14-natural-resources/">Natural Resources</a></td>
      <td><a href="https://byjus.com/ncert-books-class-9-social-science/">Poverty as a challenge</a></td>
    </tr> 
    <tr>
      <th scope="row">15</th>
      <td><a href="https://byjus.com/ncert-solutions-class-9-maths/chapter-15-introduction-to-probability/">Probability</a></td>
      <td><a href="https://byjus.com/cbse-notes/cbse-class-9-science-notes-chapter-15-improvement-in-food-resources/">Improvement In Food Resources</a></td>
      <td><a href="https://byjus.com/ncert-books-class-9-social-science/">Food Security in India</a></td>
    </tr>
  </tbody>
</table>
</center>
</div>
</div>
</div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    
  </body>
</html>