{% load static %}

<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/css/logincss.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">

    <title>Class 10</title>
  </head>
  <body>

  <div class="banner">
            <div class="navbar">
                <img src="/static/images/logo.png" class="logo">
                <ul>
                <li><a href="{% url 'homepage' %}" style="color:white"><b>HOME</b></a></li>              
                <li><a href="{% url 'videos' %}" style="color:white"><b>ONLINE MATERIAL</b></a></li>
                <li><a href="{% url 'logout' %}" style="color:white"><b>LOGOUT</b></a></li>
                </ul>
            </div>

    <div class="container">
      <div class="row my-3 mt-4">
        <div class="col-sm-9 offset-sm-2">
          <h3 align="center">Welcome {{request.user.username|capfirst}}</h3>
          <h3 align="center">ONLINE MATERIAL FOR CLASS 10</h3>
          <br />
        <br>

    <center>
    <table class="table table-hover table-light mb-5">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Mathematics</th>
      <th scope="col">Science</th>
      <th scope="col">Social Science</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a href="https://youtu.be/K8EXb2oj1lw">Real Numbers</a></td>
      <td><a href="https://youtu.be/IFe8eLioklo">Life process</a></td>
      <td><a href="https://youtu.be/UCIaDs4w3hk">Resources and Development</a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a href="https://youtu.be/cQxTvck9Xf4">Polynomials</a></td>
      <td><a href="https://youtu.be/PXUg1VByG4E">Control and Co-ordination</a></td>
      <td><a href="https://youtu.be/nSxWHuqGfZo">Nationalism in India</a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><a href="https://youtu.be/1ZbMi82U28I">Coordinate Geometry</a></td>
      <td><a href="https://youtu.be/l7kEBEqS_KY">How to Organisms Reproduce</a></td>
      <td><a href="https://youtu.be/XE9gA6x51ME">Development</a></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td><a href="https://youtu.be/QWz9pwlLnds">Linear Equations in two variables</a></td>
      <td><a href="https://youtu.be/Eq3WLj1UdzM">Heridity and Evolution</a></td>
      <td><a href="https://youtu.be/B-4n2CtCb3s">Federalism</a></td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td><a href="https://youtu.be/xWxwlMYaELs">Introduction to Euclid's Geometry</a></td>
      <td><a href="https://youtu.be/NeHHMmuKzhA">Source of Energy</a></td>
      <td><a href="https://youtu.be/I-eUvDco83g">Power sharing</a></td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td><a href="https://youtu.be/bjehuAcRoRU">Triangles</a></td>
      <td><a href="https://youtu.be/cI1HHb88iUo">Environment</a></td>
      <td><a href="https://youtu.be/anPQDbQb9vQ">The Indian National Movement</a></td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td><a href="https://youtu.be/7UN-y7Mql5k">Constructions</a></td>
      <td><a href="https://youtu.be/Kq9MnrloVj0">Management of Resources</a></td>
      <td><a href="https://youtu.be/0P0Zv3bQZ-I">Development and Income Goals</a></td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td><a href="https://youtu.be/EpdITLIzalA">Surface Areas and Volumes</a></td>
      <td><a href="https://youtu.be/aKKF21vi2AM">Light-reflection and refraction</a></td>
      <td><a href="https://youtu.be/DNsU4dnlSo4">Political Parties</a></td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td><a href="https://youtu.be/ldZ6Ho60l3U">Statitics</a></td>
      <td><a href=" https://youtu.be/KOMBSfa9tIU">Human eye and Colorful World</a></td>
      <td><a href="https://youtu.be/8VJUM071UVg">Sectors of Indian Economy</a></td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td><a href="https://youtu.be/10QBwFSItbg">Probabilty</a></td>
      <td><a href="https://youtu.be/pnvzpoRHJr0">Electricity</a></td>
      <td><a href="https://youtu.be/q48gpOX4Woc">Lifelines of Indian Economy</a></td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td></td>
      <td><a href="https://youtu.be/NeHHMmuKzhA">Source of Energy</a></td>
      <td><a href="https://youtu.be/J67sfTQM44o">Money and Credit</a></td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td></td>
      <td></td>
      <td><a href="https://youtu.be/vYMfyNAjB08">Agriculture</a></td>
    </tr>
       
  </tbody>
</table>
</center>

</div>
</div>
</div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    
  </body>
</html>

